.mission-card {
  width: calc(72% - 60px);
  margin: 120px auto;
  height: 308px;
  padding: 30px;
  background: linear-gradient(
      90deg,
      #234e4a 57.65%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(../../assets/images/bg.png) no-repeat;
  // background-size: cover;
  background-position: right;
  border-radius: 8px;
  @media (max-width: 980px) {
    width: calc(72% + 76px);
    @media (max-width: 600px) {
      margin: 48px auto;
    }
  }
  .first {
    width: 451px;
    color: #fff;
    @media (max-width: 980px) {
      width: unset;
    }
    h1 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 64px;
      color: #ffffff;
      border-bottom: 2px solid#fff;
      padding: 10px 0 0 0;
      margin: 10px 0 20px 0;
      width: fit-content;
      @media (max-width: 430px) {
        font-size: 28px;
        line-height: unset;
      }
    }
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
    }
  }
}
.dx {
  border-bottom: 2px solid #ff715b;
  width: 199px;
  margin: 0px auto 20px auto;
}
.diff {
  h1,
  p {
    text-align: center;
  }
  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #234e4a;
    padding-bottom: 20px;
    @media (max-width: 980px) {
      font-size: 24px;
      padding-bottom: 10px;
    }
  }

  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #464040;
  }
}
.care {
  background: #f6f8f8;
  // width: 72%;
  margin: 40px auto;
  @media (max-width: 1800px) {
    // width: 80%;
  }
  .grid {
    display: flex;
    width: fit-content;
    margin: 100px auto;
    gap: 15px;
    @media (max-width: 980px) {
      display: block;
      @media (max-width: 600px) {
        margin: 66px auto;
      }
    }
  }
  .container {
    background: #fff;
    width: 285px;
    min-height: 361px;
    border-radius: 12px;
    @media (max-width: 980px) {
      width: calc(72% + 76px);
      margin: 40px auto;
      img {
        width: 100%;
      }
    }
    a {
      color: #ff715b;
    }
    .txt {
      padding: 10px;
      @media (max-width: 980px) {
        padding: 40px;
      }
      h2 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #234e4a;
        margin: 10px 0;
      }
      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #464040;
        margin: 10px 0;
        &.ddd {
          color: #ff715b;
          display: flex;
          gap: 10px;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }
}
.approach {
  background: #f6f8f8;
  padding: 0 0 120px 0;
  .grid {
    display: flex;
    width: 72%;
    margin: 100px auto;
    gap: 20px;
    @media (max-width: 980px) {
      display: block;
      width: unset;
      margin: 50px 0;
    }
    .container {
      width: 387px;
      min-height: 278px;
      padding: 30px;
      top: 2288px;
      background: #ffffff;
      border-top: 2px solid #ff715b;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
      border-radius: 12px;
      @media (max-width: 980px) {
        width: calc(72% + 76px);
        margin: 40px auto;
      }
      h1 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: #ff715b;
        margin: 10px 0;
      }
      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        margin: 10px 0;
      }
      &:nth-child(even) {
        background: #234e4a;
        border-top: unset;
        h1,
        p {
          color: #fff;
        }
      }
    }
  }
}
.ddd {
  span {
    margin-right: 10px;
  }
}
